@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,700&subset=cyrillic,cyrillic-ext,latin-ext,vietnamese');
@import 'colors';
@import 'media-queries';

// Box-sizing
*{
    box-sizing: border-box;
}

body{
    padding-top: 60px;
    font-family: 'Montserrat', sans-serif;
    color: $c-gray;
}

// Transitions
// .page-enter-active, .page-leave-active {
//     transition: opacity .5s
// }
// .page-enter, .page-leave-active {
//     opacity: 0
// }

// Page
.page{
    min-height: 100vh;
}

// Container
.container{
    max-width: 1280px;
    padding: 0 15px;
    margin: 0 auto;
    @include tablet-min{
        padding: 0 30px;
    }
}